# Sample Use of the Cache Functions

In [1]:
import pandas as pd
import cache
import sqlite3

### Define the Ticker and Ranges to Use

In [2]:
ticker="BTC-USD"
interval="1wk"
start="2023-01-01"
end="2023-12-31"

### Cache BTC-USD Ticker

In [3]:
cache.cache_ticker(ticker=ticker, interval=interval, start=start, end=end, clear=True)

[*********************100%%**********************]  1 of 1 completed

Date: 0, open_index = 1, high_index = 2, low_index = 3
close_index = 4, adj_close_index = 5, volume_index = 6

### Query the Cached BTC-USD Ticker

In [4]:
db = cache.get_cache_sql_db(ticker, interval)

# Read back and use do not use Date as index column since we want to modify it
# Otherwise set index_col='Date'
with sqlite3.connect(db) as conn:
    df = pd.read_sql_query("SELECT * FROM ticker_data", conn)

# Convert 'Date' to string and remove the fraction of a second
df['Date'] = df['Date'].astype(str).str[:19]

# Set the modified 'Date' column as the index
df.set_index('Date', inplace=True)

df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-01T00:00:00,16547.914062,16991.994141,16521.234375,16955.078125,16955.078125,89488148109
2023-01-08T00:00:00,16954.146484,21075.142578,16924.050781,20976.298828,20976.298828,165738340554
2023-01-15T00:00:00,20977.484375,23282.347656,20541.544922,22777.625000,22777.625000,183490791382
2023-01-22T00:00:00,22777.986328,23722.099609,22387.900391,23031.089844,23031.089844,174809626508
2023-01-29T00:00:00,23031.449219,24167.210938,22657.582031,23331.847656,23331.847656,178939668423
2023-02-05T00:00:00,23332.248047,23423.435547,21539.392578,21870.875000,21870.875000,171955806387
2023-02-12T00:00:00,21870.902344,25134.117188,21460.087891,24641.277344,24641.277344,201316241512
2023-02-19T00:00:00,24640.027344,25126.851562,22861.558594,23175.375000,23175.375000,189383308297
2023-02-26T00:00:00,23174.150391,23880.632812,22198.980469,22353.349609,22353.349609,142118319009
2023-03-05T00:00:00,22354.144531,22613.685547,19628.253906,20632.410156,20632.410156,176095432558
2023-03-12T00:00:00,20628.029297,27787.812500,20448.806641,26965.878906,26965.878906,297342689722
2023-03-19T00:00:00,26969.503906,28803.335938,26759.996094,27494.707031,27494.707031,215611441879
2023-03-26T00:00:00,27495.523438,29159.902344,26606.689453,28411.035156,28411.035156,122848952111
2023-04-02T00:00:00,28462.845703,28739.238281,27276.720703,27947.794922,27947.794922,98250743604
2023-04-09T00:00:00,27952.367188,31005.607422,27828.480469,30318.496094,30318.496094,122319314272
2023-04-16T00:00:00,30315.976562,30555.537109,27169.570312,27817.500000,27817.500000,130004697388
2023-04-23T00:00:00,27816.144531,29995.837891,27070.849609,29248.488281,29248.488281,135436894567
2023-04-30T00:00:00,29245.515625,29952.029297,27680.792969,28904.623047,28904.623047,118262808039
2023-05-07T00:00:00,28901.623047,29157.517578,25878.429688,26784.078125,26784.078125,111245992965
2023-05-14T00:00:00,26788.974609,27646.347656,26415.101562,27129.585938,27129.585938,85827169753
2023-05-21T00:00:00,27118.423828,27434.683594,25890.593750,26868.353516,26868.353516,84155252047
2023-05-28T00:00:00,26871.158203,28432.039062,26574.644531,27075.128906,27075.128906,96535974832
2023-06-04T00:00:00,27075.123047,27407.019531,25434.867188,25851.240234,25851.240234,115127229863
2023-06-11T00:00:00,25854.031250,26769.394531,24797.167969,26510.675781,26510.675781,94072000076
2023-06-18T00:00:00,26510.457031,31389.539062,26312.832031,30548.695312,30548.695312,134867854549
2023-06-25T00:00:00,30545.150391,31256.863281,29600.275391,30590.078125,30590.078125,108851753585
2023-07-02T00:00:00,30587.269531,31460.052734,29777.285156,30292.541016,30292.541016,93121121985
2023-07-09T00:00:00,30291.611328,31814.515625,29966.386719,30295.806641,30295.806641,102304685680
2023-07-16T00:00:00,30297.472656,30437.560547,29556.427734,29771.802734,29771.802734,80525518162
2023-07-23T00:00:00,29790.111328,30330.640625,28934.294922,29356.917969,29356.917969,76851320021
2023-07-30T00:00:00,29357.093750,29987.998047,28657.023438,29042.126953,29042.126953,89235648585
2023-08-06T00:00:00,29043.701172,30176.796875,28724.140625,29415.964844,29415.964844,85092924268
2023-08-13T00:00:00,29416.593750,29660.253906,25409.111328,26096.205078,26096.205078,114711591719
2023-08-20T00:00:00,26096.861328,26786.898438,25520.728516,26008.462891,26008.462891,85209619261
2023-08-27T00:00:00,26008.242188,28089.337891,25362.609375,25868.798828,25868.798828,111112871869
2023-09-03T00:00:00,25869.472656,26414.005859,25404.359375,25895.677734,25895.677734,70877582628
2023-09-10T00:00:00,25895.210938,26840.498047,24930.296875,26568.281250,26568.281250,86922042237
2023-09-17T00:00:00,26567.927734,27488.763672,26389.300781,26579.390625,26579.390625,80833248197
2023-09-24T00:00:00,26579.373047,27259.500000,26011.468750,26967.916016,26967.916016,71701190986
2023-10-01T00:00:00,26967.396484,28494.458984,26965.093750,27968.839844,27968.839844,83770817842
2023-10-08T00:00:00,27971.677734,28102.169922,26558.320312,26861.707031,26861.707031,73492327797
2023-10-15T00:00:00,26858.011719,30287.482422,26817.894531,29918.412109,29918.412109,110054065034
2023-10-22T00:00:00,29918.654297,35150.433594,29720.312500,34089.574219,34089.574219,165004969076
2023-10-29T00:00:00,34089.371094,35919.843750,33947.566406,35082.195312,35082.195312,114267636625
2023-11-05T00:00:00,35090.011719,37926.257812,34545.816406,37138.050781,37138.050781,135634522802
2023-11-12T00:00:00,37133.992188,37964.894531,34948.500000,36585.703125,36585.703125,142165090535
2023-11-19T00:00:00,36585.765625,38415.339844,35670.972656,37796.792969,37796.792969,129611084442
2023-11-26T00:00:00,37796.828125,39678.937500,36750.128906,39476.332031,39476.332031,132335207701
2023-12-03T00:00:00,39472.207031,44705.515625,39298.164062,43725.984375,43725.984375,191272829799
2023-12-10T00:00:00,43728.382812,44034.625000,40234.578125,42240.117188,42240.117188,164815260492
2023-12-17T00:00:00,42236.109375,44367.957031,40530.257812,43739.542969,43739.542969,149932320282
2023-12-24T00:00:00,43728.367188,43945.523438,41424.062500,42156.902344,42156.902344,160240181483